body{
    font-family: 'Open sans';
}

p{
    font-family: 'Open sans';  
}
h1{
    font-family: 'Lucida Bright';
}
nav {
    font-size:18px;
}

.navbar {
    background: none;
  }
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
.parallax {
    /* The image used */
    background-image: url("../images/CrabScale88.jpg");
  
    /* Set a specific height */
    min-height: 625px;
    height:100%;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    */background-position: top;/*
    */background-size: 1500px;/*
    background-repeat: no-repeat; */
    background-size: cover;
}

.journeySection{
    /* height:820px; */
    padding-top:80px;
    background-color:#941C1E;
    background-image:url("../images/wave-red4.jpg"); 
    background-size:1650px;
    padding-bottom:100px;
    position:relative;
    padding:30px; padding-left:200px; padding-right:200px;letter-spacing: 0.25cm;
}
.aboutUsImage{
    background-image:url('../images/About\ Us\ Ho-Me\ Palace.jpg')
}

.map{
    background-image: url("../images/screenshot_map.png");
    background-size:491px;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/DimSumScale88.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menuSection{
    padding-top:60px;
    padding-bottom:60px;
    padding-left:100px;
    padding-right:100px;
    background-color:#212529;
    /* background-image:url("../images/wave-red.jpg");  */
    background-size:1200px;
}
.ieb93uuq_ieb93uuq{
    width:341px;height:342px;
}
.menuWord{
    z-index: 9999; color:#FCF6F5FF; position: relative; top:230px;
}
.journeySectionP{
    text-align:justify; color:white;font-size:16px; font-family:'Open Sans',Helvetica,sans-serif;font-weight:600;
}
.journeySectionPDiv{
    width:70%;margin:auto;padding-bottom:30px;padding-top:50px;
}
.journeySectionDiv{
    width:70%;margin:auto;padding-bottom:30px;padding-top:50px;
}
.div-empty{
    height:500px;
}
.icon-class{
    padding:5px;
}
@media screen and (max-width: 780px) {
    .parallax{
        background-size: 1200px;
    }
    .parallax2{
        background-size: 1500px;
    }
    .menuSection{
        padding-right:10px;
        padding-left:10px;
    }
    .ieb93uuq_ieb93uuq{
        width:241px;height:242px;
        margin-left:50px;
    }
    .menuWord{
        top:200px;
    }

    .journeySection{

        padding:30px; padding-left:20; padding-right:20;letter-spacing: 0.25cm;
    }
    .journeySectionP{
        text-align:left; color:white;font-size:13px;
    }
    .journeySectionDiv{
        width:100%;
    }
    .journeySectionPDiv{
        width:100%;
    }
    .div-empty{
        height:400px;
    }
  }
